##   Intoductory Python for Machine learning Quiz Solution

In [1]:
import pandas as pd

In [2]:
food=pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="latin1")

In [3]:
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
#11
food.groupby("Item")[["Item","Y2014","Y2017"]].sum().loc["Animal fats"]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [5]:
#12
food.describe().loc[["mean","std"],["Y2015"]]

            Y2015
mean   135.235966
std   1603.403984

In [6]:
#13
food["Y2016"].isnull().sum()

1535

In [7]:
#14
food.corr().iloc[2,3:].sort_values(ascending=False).head(1)

Y2014    0.024457
Name: Element Code, dtype: float64

In [8]:
#15
food.groupby("Element").sum().loc["Import Quantity"].iloc[3:].sort_values(ascending=False).head(1)

Y2017    294559.09
Name: Import Quantity, dtype: float64

In [9]:
#16
food.groupby("Element").sum().loc["Production","Y2014"]

1931287.7500000005

In [10]:
#17
food.groupby("Element")["Y2018"].sum().sort_values(ascending=False).head(1)

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

In [11]:
#18
food.groupby("Element")["Y2018"].sum().sort_values().head(3).index[2]

'Protein supply quantity (g/capita/day)'

In [12]:
#19
food.groupby(["Area","Element"]).sum().loc["Algeria","Y2018"]["Import Quantity"]

36238.29

In [13]:
#20
food["Area"].nunique()

49